# Series

They are similar to numpy arrays except they can be given a name or datetime index

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':100}

In [5]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr, index=d)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [22]:
pd.Series(data=labels, index=my_list)

10    a
20    b
30    c
dtype: object

In [38]:
ser1 = pd.Series([1,2,3,4,5],index=['Uganda','Kenya','Tanzania','Rwanda','Egypt'])

In [39]:
ser1

Uganda      1
Kenya       2
Tanzania    3
Rwanda      4
Egypt       5
dtype: int64

In [40]:
ser2 = pd.Series([1,2,3,4,5],index=['Singapore','Malaysia','Japan','Rwanda','Egypt'])

In [41]:
ser2

Singapore    1
Malaysia     2
Japan        3
Rwanda       4
Egypt        5
dtype: int64

In [42]:
ser1['Uganda']

1

In [43]:
ser2['Japan']

3

In [48]:
print(ser1['Kenya'],ser2['Japan'])

2 3

It only does operations on the indexes that are common in both series, and in this case that's Egypt and Rwanda

In [50]:
ser1 + ser2

Egypt        10.0
Japan         NaN
Kenya         NaN
Malaysia      NaN
Rwanda        8.0
Singapore     NaN
Tanzania      NaN
Uganda        NaN
dtype: float64